@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?1ficz4');
  src:  url('../fonts/icomoon.eot?1ficz4#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1ficz4') format('truetype'),
    url('../fonts/icomoon.woff?1ficz4') format('woff'),
    url('../fonts/icomoon.svg?1ficz4#icomoon') format('svg');

}