// font-family: 'Montserrat', sans-serif;

$texta: #b8b8b8;
// $red: #e74c3c;
$greenblu: #18cfab;
// $orange: #ef6c00;
// $welloy:#fcb322;
// $fon: #263238;
// $border: #dcdcdc;
$montserrat: 'Montserrat', sans-serif;




